apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: mern-microservices
spec:
  selector:
    app: user-service
  ports:
    - protocol: TCP
      port: 5003
      targetPort: 5003
  type: ClusterIP
